/* Header for the file */
div#college_name {
    position: absolute;
    top: 0vh;
    left: 7.25vw;
    z-index: 12;
    /* height: 8vh; */
    width: 85vw;
}

div#college_name .college_header>a>img {
    height: 11vh;
    width: 7vw;
    margin-right: 1vw;
    float: left;
}

div#college_name .college_header > div > div>h2 {
    font-size: 1.8vw;
    margin-top: 3vh;
    margin-bottom: 0.3vh;
    font-family: 'Merriweather', sans-serif, 'Times New Roman';
    color: rgb(0, 28, 99);
    font-weight: 900;
}

div#college_name .college_header>div>div {
    overflow: hidden;
    margin-top: 3vh;
    height: 5vh;
}

div#college_name .college_header>div>div>h2:nth-child(1) {
    animation: animate 5s linear infinite;
}

/* 
div#college_name .college_header>div>h2.change {
    animation: fade 3s infinite;
} */

div#college_name .college_header > div > h6 {
    color: rgb(0, 0, 0);
    margin-bottom: 0px;
}


div.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1.5vh;
}

nav#siteHead {
    position: absolute;
    height: 7vh;
    width: 85vw;
    /* left: 50; */
    z-index: 9999;
    top: 12vh;
    left: 7.25vw;
    margin-top: 2.5vh;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    float: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.539);
}

nav#site_head {
    position: fixed;
    top: 0;
    left: 0;
    height: 9vh;
    width: 100vw;
    z-index: 9999;
    float: none;
    background-color: darkorange;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav#siteHead>a>img {
    height: 3.5vh;
    width: 3vw;
    margin: 0px;
    padding: 0px;
}

nav#siteHead>a {
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%;
    width: 10vw;
    display: flex;
    justify-content: center;
    color: black;
    font-weight: 500;
    font-size: 2.5vh;
}

nav#siteHead>a.home_icon {
    width: 1.5vw;
    margin-right: 1vw;
}

nav#siteHead>a:hover {
    border-bottom: 1vh solid rgb(0, 0, 0);
    animation: sidewise_appear 0.25s forwards ease-in-out;
}

nav#siteHead>a.header_logo {
    display: none;
}

nav#siteHead>a>img.header_logo {
    display: none;
}

nav#site_head>a>img {
    height: 5vh;
    width: 3vw;
    margin: 0px;
    padding: 0px;
}

nav#site_head>a {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0px 1.5vw;
    text-decoration: none;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.683);
    font-size: 2.5vh;
}

nav#site_head>a:hover
{
    border-bottom: 1vh solid rgba(0, 0, 0, 0.616);
    animation: sidewise_appear 0.25s forwards ease-in-out;
}

nav#site_head>a.header_logo {
    position: relative;
    z-index: 10;
    height: 12vh;
    width: 6vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    background-color: aliceblue;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    animation: appear 0.25s forwards ease-in-out;
}

nav#siteHead>a.home_icon:hover
{
    border: none;
}

nav#site_head>a.home_icon:hover
{
    border: none;
}

nav#site_head>a.header_logo:hover {
    border-bottom: none;
}

nav#site_head>a.header_logo>img {
    height: 8vh;
    width: 4vw;
}

#site_head a.start {
    animation: start 0.25s forwards ease-in-out;
}

#site_head a.back {
    animation: back 0.25s forwards ease-in-out;
}




/* Adding dropdowns to the header */

.Institute_dropDown {
    display: none;
    grid-template: 1fr / 1fr 1fr 1fr;
    height: 60vh;
    width: 85vw;
    overflow: hidden;
    position: absolute;
    top: 7vh;
    left: 0vw;
    z-index: 5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    background-color: whitesmoke;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.Institute_dropDown > .category {
    display: flex;
    flex-direction: column;
} 

.Institute_dropDown>.category>div {
    align-self: center;
    width: 75%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin: 3vh 0px;
    background-color: darkorange;
    font-size: 4vh;
}

.Institute_dropDown>.category>ul {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    list-style: none;
}

.Institute_dropDown>.category>ul>li>a {
    text-decoration: none;
    color: black;
    font-size: 2.15vh;
    font-size: 2vh;
}

.Institute_dropDown>.category>ul>li>a:hover {
    width: 100%;
    color: rgb(255, 89, 0);
}

a.Institute:hover+.Institute_dropDown,
.Institute_dropDown:hover {
    display: grid;
    animation: dropDown_appear 0.25s ease-in-out;
}





.Admissions_dropDown {
    display: none;
    height: 30vh;
    width: 15vw;
    overflow: hidden;
    position: absolute;
    top: 7vh;
    left: 26.5vw;
    z-index: 5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    background-color: rgb(245, 245, 245);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.Admissions_dropDown>ul {
    display: flex;
    list-style: none;
    padding: 3vh;
    gap: 3vh;
    flex-direction: column;
}

.Admissions_dropDown>ul>li>a {
    text-decoration: none;
    font-size: 2.15vh;
    color: black;
}

.Admissions_dropDown>ul>li>a:hover {
    color: rgb(255, 89, 0);
}

a.Admissions:hover + .Admissions_dropDown,
.Admissions_dropDown:hover {
    display: block;
    animation: dropDown_appear_small 0.25s ease-in-out;
}




.Academics_dropDown {
    display: none;
    grid-template: 1fr / 1fr 1fr 1fr;
    height: 60vh;
    width: 85vw;
    overflow: hidden;
    position: absolute;
    top: 7vh;
    left: 0vw;
    z-index: 5;
    background-color: rgba(245, 245, 245);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.Academics_dropDown > .column {
    display: flex;
    flex-direction: column;
}

.Academics_dropDown>.column>div  {
    align-self: center;
    width: 75%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin: 3vh 0px;
    background-color: darkorange;
    font-size: 4vh;
}

.Academics_dropDown>.column > ul {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    list-style: none;
}

.Academics_dropDown>.column>ul>li>a {
    text-decoration: none;
    color: black;
    font-size: 2.15vh;
    font-size: 2vh;
}

.Academics_dropDown>.column>ul>li>a:hover {
    width: 100%;
    color: rgb(255, 89, 0);
}


a.Academics:hover + .Academics_dropDown,
.Academics_dropDown:hover {
    display: grid;
    animation: dropDown_appear 0.25s ease-in-out;
}




.Faculty_dropDown
{
    display: none;
        grid-template: 1fr / 1fr 1fr 1fr 1fr;
        height: 40vh;
        width: 85vw;
        overflow: hidden;
        position: absolute;
        top: 7vh;
        left: 0vw;
        z-index: 5;
        background-color: rgba(245, 245, 245);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
}

.Faculty_dropDown>.column {
    display: flex;
    flex-direction: column;
}

.Faculty_dropDown>.column>div {
    align-self: center;
    width: 75%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin: 3vh 0px;
    background-color: darkorange;
    font-size: 4vh;
}

.Faculty_dropDown>.column>ul {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    list-style: none;
}

.Faculty_dropDown>.column>ul>li>a {
    text-decoration: none;
    color: black;
    font-size: 2.15vh;
    font-size: 2vh;
}

.Faculty_dropDown>.column>ul>li>a:hover {
    width: 100%;
    color: rgb(255, 89, 0);
}


a.Faculty:hover+.Faculty_dropDown,
.Faculty_dropDown:hover {
    display: grid;
    animation: dropDown_appear_mid 0.25s ease-in-out;
}




.Placements_dropDown {
    display: none;
    height: 54vh;
    width: 15vw;
    overflow: hidden;
    position: absolute;
    top: 7vh;
    left: 46.5vw;
    z-index: 5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    background-color: rgb(245, 245, 245);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.Placements_dropDown>ul {
    display: flex;
    list-style: none;
    padding: 3vh;
    padding-top: 2vh;
    gap: 3vh;
    flex-direction: column;
}

.Placements_dropDown>ul>li>a {
    text-decoration: none;
    font-size: 2.15vh;
    color: black;
}

.Placements_dropDown>ul>li>a:hover {
    color: rgb(255, 89, 0);
}

a.Placements:hover+.Placements_dropDown,
.Placements_dropDown:hover {
    display: block;
    animation: dropDown_appear_mid_high 0.25s ease-in-out;
}





.Alumni_dropDown {
    display: none;
    height: 25vh;
    width: 15vw;
    overflow: hidden;
    position: absolute;
    top: 7vh;
    left: 56.3vw;
    z-index: 5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    background-color: rgb(245, 245, 245);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.Alumni_dropDown>ul {
    display: flex;
    list-style: none;
    padding: 3vh;
    gap: 3vh;
    flex-direction: column;
}

.Alumni_dropDown>ul>li>a {
    text-decoration: none;
    font-size: 2.15vh;
    color: black;
}

.Alumni_dropDown>ul>li>a:hover {
    color: rgb(255, 89, 0);
}

a.Alumni:hover+.Alumni_dropDown,
.Alumni_dropDown:hover {
    display: block;
    animation: dropDown_appear_very_small 0.25s ease-in-out;
}





/* animations */
@keyframes appear_border {
    from {
            border-bottom-width: 0%;
    }
    
        to {
            border-bottom-width: 100%;
    }
}


@keyframes dropDown_appear {
    from {
            /* opacity: 0; */
            height: 0px;
        }
    
        to {
            /* opacity: 1; */
            height: 60vh;
        }
}

@keyframes dropDown_disappear {
    from {
            transform: translateY(0);
            height: 65vh;
        }
    
        to {
            transform: translateY(20px);
            height: 0vh;                     
        }
} 


@keyframes dropDown_appear_mid_high {
    0% {
        height: 0vh;
    } 100% {
        height: 50vh;
    }
    
}

@keyframes dropDown_appear_mid {
    0% {
        height: 0vh;
    } 100% {
        height: 40vh;
    }
    
}

@keyframes dropDown_appear_small {
    0% {
        height: 0vh;
    } 100% {
        height: 30vh;
    }
    
}

@keyframes dropDown_appear_very_small {
    0% {
        height: 0vh;
    } 100% {
        height: 25vh;
    }
    
}

@keyframes start {
    0% {
        transform: translateX(20px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes back {
    0% {
        transform: translateX(-40px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes appear {
    0% {
        height: 0vh;
    }
    100% {
        height: 12vh;
    }
}

@keyframes sidewise_appear {
    0% {
        border-bottom-width: 0vh;
    }
    100% {
        border-bottom-width: 1vh;
    }
}

@keyframes rotateText {
    0% {
        transform: rotateX(0deg);
        opacity: 1;
    }

    50% {
        transform: rotateX(90deg);
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: rotateX(0deg);
    }
}

@keyframes fade {
    0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
    
        100% {
            opacity: 0;
        } 
}

@keyframes animate {
    0%{ margin-top: -10vh; }
    5%{ margin-top: -7vh; }
    33%{ margin-top: -7vh; }
    50% { margin-top: -7vh;}
    55% { margin-top: 0.5vh;}
    71% { margin-top: 0.5vh; }
    99.99% { margin-top: 0.5vh;}
    100% { margin-top: -10vh;}
}