@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	background: #FFF6E9;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: #FF7F3E;
  display: flex;
}

header::after {
  content: '';
  display: table;
  clear: both;
  /* justify-content: space-between; */
}

.logo {
    margin-right: auto;
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
  display: flex;
  justify-content: space-between;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #262525;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.logo {
    float: left;
    margin-left: 30px;
    padding: 10px 0;
    margin-right: auto; /* Add this line */
    /* Set a specific height */
   
  }
.logo img{
    width: 50px;
    height: auto;
    mix-blend-mode: lighten;
  filter: brightness(0) invert(1);
}

body {
    margin: 0;
  
 
    
    
    
}

.content {
    flex: 1; /* Allows the main content to take up the remaining space */
}